<div class="container">
            <div class="page-header">
              <h1 class="all-tittles">Sistema de Monitoreo de Laboratorios Computacionales <small>Inicio</small></h1>
            </div>
        </div>