<!DOCTYPE html>
<html lang="es">

<head>
  <title>Academics &mdash; Website by Colorlib</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="fonts1/icomoon/style.css">

  <link rel="stylesheet" href="css1/bootstrap.min.css">
  <link rel="stylesheet" href="css1/jquery-ui.css">
  <link rel="stylesheet" href="css1/owl.carousel.min.css">
  <link rel="stylesheet" href="css1/owl.theme.default.min.css">
  <link rel="stylesheet" href="css1/owl.theme.default.min.css">

  <link rel="stylesheet" href="css1/jquery.fancybox.min.css">

  <link rel="stylesheet" href="css1/bootstrap-datepicker.css">

  <link rel="stylesheet" href="fonts1/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="css1/aos.css">
  <link href="css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="css1/style.css">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <div class="py-2 bg-light">
      <div class="container">
        <div class="row align-items-center">
        </div>
      </div>
    </div>
    <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('images/bg_1.jpg')">
      <div class="container">
        <div class="row align-items-end justify-content-center text-center">
          <div class="col-lg-7">
            <h2 class="mb-0">Registrate</h2>
            <p>Monitoreo de Laboratorios Computacionales</p>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section">
      <div class="container">
        
<form id="formulario" method="POST" action="/registrate">
          <div class="row justify-content-center">
            <div class="col-md-5" style="border-bottom-color: solid black">
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="cedula">Cedula</label>
                  <input type="text" id="cedula" name="cedula" class="form-control form-control-lg">
                  <small id="cedulaHelp" class="form-text text-muted">Ingrese su cedula</small>
                </div>
                <div class="col-md-12 form-group">
                  <label for="cargo">Cargo</label>
                  <select name="cargo" id="cargo" name="cargo" class="form-control form-control-l">
                    <option value="1">Estudiante</option>
                    <option value="2">Docente</option>
                    <option value="3">Administrador</option>
                  </select>
                  <small id="cargoHelp" class="form-text text-muted">Seleccione un cargo</small>
                </div>
                <div class="col-md-12 form-group">
                  <label for="nombres">Nombres</label>
                  <input type="text" id="nombres" name="nombres" class="form-control form-control-lg">
                  <small id="nombresHelp" class="form-text text-muted">Ingrese sus nombres</small>
                </div>
                <div class="col-md-12 form-group">
                  <label for="apellidos">Apellidos</label>
                  <input type="text" id="apellidos" name="apellidos" class="form-control form-control-lg">
                  <small id="apellidosHelp" class="form-text text-muted">Ingrese sus apellidos</small>
                </div>
                <div class="col-md-12 form-group" style="padding-bottom: 10px;">
                  <label for="edad">Fecha de nacimiento</label>
                  <input type="date" id="fecha_n" name="fecha_n" class="form-control form-control-lg">
                  <small id="fecha_nHelp" class="form-text text-muted">Ingrese sus edad</small>
                </div>

                <div class="col-md-12 form-group">
                  <h2>Datos de la cuenta</h2>
                </div>
                <div class="col-md-12 form-group">
                  <label for="email">Email</label>
                  <input type="email" id="email" name="email" class="form-control form-control-lg">
                </div>
                <div class="col-md-12 form-group">
                  <label for="pword">Contraseña</label>
                  <input type="password" id="pword" name="pword" class="form-control form-control-lg">
                </div>

                <div>
                  <input type="submit" value="Enviar" class="btn btn-primary btn-lg px-5">
                  <a href="/" class="btn btn-danger">Volver</a>
                </div>

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <p class="mb-4"><img src="images/logo.png" alt="Image" class="img-fluid"></p>
            <p>Universidad Nacional de Loja</p>
            <p><a href="#">Learn More</a></p>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
          </div>
        </div>
      </div>
    </div>


  </div>
  <!-- .site-wrap -->

  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#51be78" /></svg></div>

  <script src="js1/jquery-3.3.1.min.js"></script>
  <script src="js1/jquery-migrate-3.0.1.min.js"></script>
  <script src="js1/jquery-ui.js"></script>
  <script src="js1/popper.min.js"></script>
  <script src="js1/bootstrap.min.js"></script>
  <script src="js1/owl.carousel.min.js"></script>
  <script src="js1/jquery.stellar.min.js"></script>
  <script src="js1/jquery.countdown.min.js"></script>
  <script src="js1/bootstrap-datepicker.min.js"></script>
  <script src="js1/jquery.easing.1.3.js"></script>
  <script src="js1/aos.js"></script>
  <script src="js1/jquery.fancybox.min.js"></script>
  <script src="js1/jquery.sticky.js"></script>
  <script src="js1/jquery.mb.YTPlayer.min.js"></script>




  <script src="js1/main.js"></script>

</body>

</html>