<div class="container-fluid">
    <h2 class="text-center all-tittles">Lista de Componentes de estacion Nº 1</h2>
    <div class="container-fluid">
        <a class="btn btn-success" data-toggle="modal" data-target="#modalRegisterForm"> Nuevo Componente</a>
    </div>
    
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
            <h1>Nº1</h1>
            <p>Componente</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <h1>Nº2</h1>
            <p>Componente</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <h1>Nº1</h1>
            <p>Componente</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <h1>Nº1</h1>
            <p>Componente</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <h1>Nº1</h1>
            <p>Componente</p>
        </a>
    </div>
</div>

<div class="modal fade container-fluid" id="modalRegisterForm" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Nuevo Componente</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">

                <div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="orangeForm-email">Presente</label>
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" id="orangeForm-email" class="form-control validate">
                </div>
                <div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="orangeForm-email">Observaciones</label>
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" id="orangeForm-email" class="form-control validate">
                </div>
                <div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="orangeForm-email">Marca</label>
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" id="orangeForm-email" class="form-control validate">
                </div>
                <div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="orangeForm-email">Serie</label>
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" id="orangeForm-email" class="form-control validate">
                </div>
                <div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="orangeForm-email">Codigo</label>
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" id="orangeForm-email" class="form-control validate">
                </div><div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="orangeForm-email">Nombre</label>
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" id="orangeForm-email" class="form-control validate">
                </div>
                <div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="orangeForm-email">Disponibilidad</label><br>
                    <select>
                        <item>Disponible</item>
                        <item>No</item>
                    </select>
                    <i class="fas fa-envelope prefix grey-text"></i>

                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-success">Guardar</button>
            </div>
        </div>
    </div>
</div>