<div class="container">
    <div class="page-header">
        <h1 class="all-tittles">Sistema de Monitoreo de Laboratorios <small>Administración Usuarios</small></h1>
    </div>
</div>
<div class="container-fluid">
    <ul class="nav nav-tabs nav-justified" style="font-size: 17px;">
        <li role="presentation"> <a href="/main">Administradores</a></li>
        <li role="presentation"> <a href="/registrar_docente">Docentes</a></li>
        <li role="presentation"class="active"><a href="/registrar_estudiante">Estudiantes</a></li>
    </ul>
</div>
<div class="container-fluid" style="margin: 50px 0;">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <img src="assets/img/user01.png" alt="user" class="img-responsive center-box" style="max-width: 110px;">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
            Bienvenido a la sección para registrar nuevos estudiantes del sistema, debes de llenar todos los campos del
            siguiente formulario para registrar un estudiante
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 lead">
            <ol class="breadcrumb">
                <li class="active">Nuevo estudiante</li>
                <li><a href="#">Listado de estudiantes</a></li>
            </ol>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container-flat-form">
        <div class="title-flat-form title-flat-blue">Registrar un nuevo estudainte</div>
        <form autocomplete="off" method="POST" action="/guardar">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="group-material">
                        <input type="text" class="material-control tooltips-general" id="cedulstd" name="cedulstd"
                            placeholder="Cedula" required="" maxlength="70" pattern="{1,70}" data-toggle="tooltip"
                            data-placement="top" title="Escribe la cedula del estudiante">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Cedula</label>
                    </div>
                    <div class="group-material">
                        <input type="text" class="material-control tooltips-general" id="nomrbestd" name="nomrbestd"
                            placeholder="Nombre completo" required="" maxlength="70" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]"
                            data-toggle="tooltip" data-placement="top" title="Escribe el nombre del estudiante">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Nombre estudiante</label>
                    </div>
                    <div class="group-material">
                        <input type="text" class="material-control tooltips-general" id="apellidostd" name="apellidostd"
                            placeholder="Apellido completo" required="" maxlength="70" pattern="{1,70}"
                            data-toggle="tooltip" data-placement="top" title="Escribe el apellido del estsudiante">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Apellidos estudiante</label>
                    </div>
                    <div class="group-material">
                        <input type="date" class="material-control tooltips-general" id="fechastd" name="fechastd"
                            required="" maxlength="70" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,70}" data-toggle="tooltip"
                            data-placement="top" title="Escribe fecha del estudiante">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Fecha de nacimiento</label>
                    </div>

                    <ol class="breadcrumb">
                        <li class="active">Datos de la cuenta del estudiante</li>
                    </ol>

                    <div class="group-material">
                        <input type="email" class="material-control tooltips-general" id="correodm" name="correodm"
                            placeholder="E-mail" maxlength="50" data-toggle="tooltip" data-placement="top"
                            title="Escribe el Email del administrador">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Email</label>
                    </div>
                    <div class="group-material">
                        <input type="password" class="material-control tooltips-general" id="clavedm" name="clavedm"
                            placeholder="Contraseña" required="" maxlength="200" data-toggle="tooltip"
                            data-placement="top" title="Escribe una contraseña">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Contraseña</label>
                    </div>
                    <p class="text-center">
                        <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i
                                class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                        <button type="submit" class="btn btn-primary"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp;
                            Guardar</button>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="ModalHelp">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center all-tittles">ayuda del sistema</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="zmdi zmdi-thumb-up"></i>
                    &nbsp; De acuerdo</button>
            </div>
        </div>
    </div>
</div>