<div class="container">
    <div class="page-header">
        <h1 class="all-tittles">Sistema de Monitoreo de Laboratorio <small>Administración Usuarios</small></h1>
    </div>
</div>

<div class="container-fluid" style="margin: 50px 0;">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <img src="assets/img/user05.png" alt="user" class="img-responsive center-box" style="max-width: 110px;">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
            Bienvenido a la sección donde se encuentra el listado de los laboratorios disponibles en el sistema.<br>
        </div>
    </div>
    <section class="full-reset text-center" style="padding: 40px 0;" href="#">
        <article class="tile">
            <div class="tile-icon full-reset"><i class="zmdi zmdi-accounts"></i></div>
            <div class="tile-name all-tittles">Laboratorio N1</div>
            <div class="tile-num full-reset">26</div>
            <a class="btn btn-primary" href="/estaciones">Mas iformacion...</a>
        </article>
    </section>
</div>
<div class="group-material">
    <section class="full-reset text-center" style="padding: 40px 0;">
        <article class="tile">
            <div class="tile-icon full-reset"><i class="zmdi zmdi-accounts"></i></div>
            <div class="tile-name all-tittles">Laboratorio N2</div>
            <div class="tile-num full-reset">29</div>
            <a class="btn btn-primary" href="/estaciones">Mas iformacion...</a>
        </article>
    </section>
</div>