<div class="container-fluid">
    <h2 class="text-center all-tittles">Lista de estaciones</h2>
    <div class="container-fluid">
        <a class="btn btn-success" data-toggle="modal" data-target="#modalRegisterForm"> Nuevo</a>
    </div>
    <div class="div-table">
        <div class="table-responsive">
            <div class="div-table" style="margin:0 !important;">
                <div class="div-table-row div-table-row-list" style="background-color:#DFF0D8; font-weight:bold;">
                    <div class="div-table-cell" style="width: 6%;">#</div>
                    <div class="div-table-cell" style="width: 18%;">ubicacion</div>
                    <div class="div-table-cell" style="width: 18%;">disponibilidad</div>
                    <div class="div-table-cell" style="width: 18%;">accion</div>
                </div>
            </div>
        </div>


        <div class="table-responsive">
            <div class="div-table" style="margin:0 !important;">
                <div class="div-table-row div-table-row-list">
                    <div class="div-table-cell" style="width: 6%;">{{@index}}</div>
                    <div class="div-table-cell" style="width: 18%;">{{this.cedula}}</div>
                    <div class="div-table-cell" style="width: 18%;">{{this.apellido}}</div>
                    <div class="div-table-cell" style="width: 9%;">
                        <a href="#" class="btn btn-success" role="button">Componentes</a>
                        <a href="#" class="btn btn-success zmdi zmdi-refresh" role="button"></a>
                        <a href="#" class="btn btn-danger zmdi zmdi-delete" role="button"></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="table-responsive">
            <div class="div-table" style="margin:0 !important;">
                <div class="div-table-row div-table-row-list">
                    <div class="div-table-cell" style="width: 6%;">{{@index}}</div>
                    <div class="div-table-cell" style="width: 18%;">{{this.cedula}}</div>
                    <div class="div-table-cell" style="width: 18%;">{{this.apellido}}</div>
                    <div class="div-table-cell" style="width: 9%;">
                        <a href="#" class="btn btn-success" role="button">Componentes</a>
                        <a href="#" class="btn btn-success zmdi zmdi-refresh" role="button"></a>
                        <a href="#" class="btn btn-danger zmdi zmdi-delete" role="button"></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="table-responsive">
            <div class="div-table" style="margin:0 !important;">
                <div class="div-table-row div-table-row-list">
                    <div class="div-table-cell" style="width: 6%;">{{@index}}</div>
                    <div class="div-table-cell" style="width: 18%;">{{this.cedula}}</div>
                    <div class="div-table-cell" style="width: 18%;">{{this.apellido}}</div>
                    <div class="div-table-cell" style="width: 9%;">
                        <a href="#" class="btn btn-success" role="button">Componentes</a>
                        <a href="#" class="btn btn-success zmdi zmdi-refresh" role="button"></a>
                        <a href="#" class="btn btn-danger zmdi zmdi-delete" role="button"></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="table-responsive">
            <div class="div-table" style="margin:0 !important;">
                <div class="div-table-row div-table-row-list">
                    <div class="div-table-cell" style="width: 6%;">{{@index}}</div>
                    <div class="div-table-cell" style="width: 18%;">{{this.cedula}}</div>
                    <div class="div-table-cell" style="width: 18%;">{{this.apellido}}</div>
                    <div class="div-table-cell" style="width: 9%;">
                        <a href="#" class="btn btn-success" role="button">Componentes</a>
                        <a href="#" class="btn btn-success zmdi zmdi-refresh" role="button"></a>
                        <a href="#" class="btn btn-danger zmdi zmdi-delete" role="button"></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="table-responsive">
            <div class="div-table" style="margin:0 !important;">
                <div class="div-table-row div-table-row-list">
                    <div class="div-table-cell" style="width: 6%;">{{@index}}</div>
                    <div class="div-table-cell" style="width: 18%;">{{this.cedula}}</div>
                    <div class="div-table-cell" style="width: 18%;">{{this.apellido}}</div>
                    <div class="div-table-cell" style="width: 9%;">
                        <a href="#" class="btn btn-success" role="button">Componentes</a>
                        <a href="#" class="btn btn-success zmdi zmdi-refresh" role="button"></a>
                        <a href="#" class="btn btn-danger zmdi zmdi-delete" role="button"></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="table-responsive">
            <div class="div-table" style="margin:0 !important;">
                <div class="div-table-row div-table-row-list">
                    <div class="div-table-cell" style="width: 6%;">{{@index}}</div>
                    <div class="div-table-cell" style="width: 18%;">{{this.cedula}}</div>
                    <div class="div-table-cell" style="width: 18%;">{{this.apellido}}</div>
                    <div class="div-table-cell" style="width: 9%;">
                        <a href="#" class="btn btn-success" role="button">Componentes</a>
                        <a href="#" class="btn btn-success zmdi zmdi-refresh" role="button"></a>
                        <a href="#" class="btn btn-danger zmdi zmdi-delete" role="button"></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="table-responsive">
            <div class="div-table" style="margin:0 !important;">
                <div class="div-table-row div-table-row-list">
                    <div class="div-table-cell" style="width: 6%;">{{@index}}</div>
                    <div class="div-table-cell" style="width: 18%;">{{this.cedula}}</div>
                    <div class="div-table-cell" style="width: 18%;">{{this.apellido}}</div>
                    <div class="div-table-cell" style="width: 9%;">
                        <a href="#" class="btn btn-success" role="button">Componentes</a>
                        <a href="#" class="btn btn-success zmdi zmdi-refresh" role="button"></a>
                        <a href="#" class="btn btn-danger zmdi zmdi-delete" role="button"></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="table-responsive">
            <div class="div-table" style="margin:0 !important;">
                <div class="div-table-row div-table-row-list">
                    <div class="div-table-cell" style="width: 6%;">{{@index}}</div>
                    <div class="div-table-cell" style="width: 18%;">{{this.cedula}}</div>
                    <div class="div-table-cell" style="width: 18%;">{{this.apellido}}</div>
                    <div class="div-table-cell" style="width: 9%;">
                       <a href="#" class="btn btn-success" role="button">Componentes</a>
                       <a href="#" class="btn btn-success zmdi zmdi-refresh" role="button"></a>
                       <a href="#" class="btn btn-danger zmdi zmdi-delete" role="button"></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="table-responsive">
            <div class="div-table" style="margin:0 !important;">
                <div class="div-table-row div-table-row-list">
                    <div class="div-table-cell" style="width: 6%;">{{@index}}</div>
                    <div class="div-table-cell" style="width: 18%;">{{this.cedula}}</div>
                    <div class="div-table-cell" style="width: 18%;">{{this.apellido}}</div>
                    <div class="div-table-cell" style="width: 9%;">
                       <a href="#" class="btn btn-success" role="button">Componentes</a>
                       <a href="#" class="btn btn-success zmdi zmdi-refresh" role="button"></a>
                       <a href="#" class="btn btn-danger zmdi zmdi-delete" role="button"></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade container-fluid" id="modalRegisterForm" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Nueva estacion</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">

                <div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="orangeForm-email">Ubicacion</label>
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" id="orangeForm-email" class="form-control validate">
                </div>
                <div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="orangeForm-email">Disponibilidad</label><br>
                    <select>
                        <item>Disponible</item>
                        <item>No</item>
                    </select>
                    <i class="fas fa-envelope prefix grey-text"></i>

                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-success">Guardar</button>
            </div>
        </div>
    </div>
</div>