<div class="container">
    <div class="page-header">
        <h1 class="all-tittles">Sistema de Monitoreo de Laboratorios Computacionales <small>Inicio</small></h1>
    </div>
</div>
<section class="full-reset text-center" style="padding: 40px 0;">
    <article class="tile">
        <div class="tile-icon full-reset"><i class="zmdi zmdi-accounts"></i></div>
        <div class="tile-name all-tittles">Crear Clase</div>
        <a class="btn btn-primary" href="/estaciones">Mas iformacion...</a>
    </article>
    <article class="tile">
        <div class="tile-icon full-reset"><i class="zmdi zmdi-male-female"></i></div>
        <div class="tile-name all-tittles" style="width: 90%;">Estudiantes</div>
        <a class="btn btn-primary" href="/estaciones">Mas iformacion...</a>
    </article>
    {{#each labs}}
    <article class="tile">
        <div class="tile-icon full-reset"><i class="zmdi zmdi-book"></i></div>
        <div class="tile-name all-tittles">{{item.numero}}</div>
        <a class="btn btn-primary" href="/estaciones/{{item.external}}">Mas iformacion...</a>
    </article>
    {{/each}}

</section>