<nav class="navbar-user-top full-reset">
    <ul class="list-unstyled full-reset">
        <figure>
            <img src="assets/img/user01.png" alt="user-picture" class="img-responsive img-circle center-box">
        </figure>
        <li style="color:#fff; cursor:default;">
            <span class="all-tittles">{{usuario}}</span>
        </li>
        <li class="tooltips-general exit-system-button" data-href="/cerrar_log" data-placement="bottom"
            title="Salir del sistema">
            <i class="zmdi zmdi-power"></i>
        </li>
    </ul>
</nav>