<div class="full-reset nav-lateral-list-menu">
    <ul class="list-unstyled">
        <li><a href="/main"><i class="zmdi zmdi-home zmdi-hc-fw"></i>&nbsp;&nbsp; Inicio</a></li>
        <li>
            <div class="dropdown-menu-button"><i class="zmdi zmdi-case zmdi-hc-fw"></i>&nbsp;&nbsp; Actividades Alumno <i
                    class="zmdi zmdi-chevron-down pull-right zmdi-hc-fw"></i></div>
            <ul class="list-unstyled">
                <li><a href="/main/crear_clase"><i class="zmdi zmdi-home zmdi-hc-fw"></i>&nbsp;&nbsp; Seleccionar clase</a></li>
            </ul>
        </li>
    </ul>
</div>